.wrapper
	h1.title Contenido
	p.bloque-text Level incluye algunas clases que te ayudarán en el proceso de construcción de tu website.
	h4.subtitle Añadiendo padding y margin
	p.bloque-text En algunas ocasiones necesitas añadir cierto espacio de separación en tu contenido o estructura, para estos casos
		b level
		span te proporciona algunas clases para añadir
		b padding
		span y
		b margin
		span de una manera muy sencilla.
	row.bloque
		column
			responsive.is-table
				table.is-cell.is-narrow
					thead
						tr
							th Clase auxiliar
							th prefijo
							th valor
							th Unidad
							th Descripción
							th Ejemplo
					tbody
						tr
							td
								code .padding
								span ,<br>
								code .margin
							td: code.color-light -
							td
								code.color-light 1, 2
								small o
								code.color-light 3
							td: code.color-success rem
							td.is-small
								code.color-light padding
								span o
								code.color-light margin
								span general de
							td: code.is-text-info .padding-1
						tr
							td
								code .padding
								span ,<br>
								code .margin
							td: code.color-light -v-
							td
								code.color-light 1, 2
								small o
								code.color-light 3
							td: code.color-success rem
							td.is-small
								code.color-light padding
								span o
								code.color-light margin
								span vertical de
							td: code.is-text-info .margin-v-2
						tr
							td
								code .padding
								span ,<br>
								code .margin
							td: code.color-light -h-
							td
								code.color-light 1, 2
								small o
								code.color-light 3
							td: code.color-success rem
							td.is-small
								code.color-light padding
								span o
								code.color-light margin
								span horizontal de
							td: code.is-text-info .padding-h-3
						tr
							td
								code .padding
								span ,<br>
								code .margin
							td: code.color-light -t-
							td
								code.color-light 1, 2
								small o
								code.color-light 3
							td: code.color-success rem
							td.is-small
								code.color-light padding
								span o
								code.color-light margin
								span top de
							td: code.is-text-info .margin-t-1
						tr
							td
								code .padding
								span ,<br>
								code .margin
							td: code.color-light -b-
							td
								code.color-light 1, 2
								small o
								code.color-light 3
							td: code.color-success rem
							td.is-small
								code.color-light padding
								span o
								code.color-light margin
								span bottom de
							td: code.is-text-info .padding-b-2
						tr
							td
								code .padding
								span ,<br>
								code .margin
							td: code.color-light -l-
							td
								code.color-light 1, 2
								small o
								code.color-light 3
							td: code.color-success rem
							td.is-small
								code.color-light padding
								span o
								code.color-light margin
								span left de
							td: code.is-text-info .margin-l-3
						tr
							td
								code .padding
								span ,<br>
								code .margin
							td: code.color-light -r-
							td
								code.color-light 1, 2
								small o
								code.color-light 3
							td: code.color-success rem
							td.is-small
								code.color-light padding
								span o
								code.color-light margin
								span right de
							td: code.is-text-info .padding-r-1
	h4.subtitle Añadiendo opacidad
	p.bloque-text Puede agregar opacidad a los contenedores utilizando las siguientes clases:
	row.bloque
		column
			responsive.is-table
				table.is-cell.is-narrow
					thead
						tr
							th Clase auxiliar
							th Prefijo
							th Ejemplo
							th Descripción
							th muestra
					tbody.is-small
						-for(var i = 1; i < 10; i++)
							tr
								td: code .opacity-
								td: code.color-light #{i}
								td: code.is-text-info .opacity-#{i}
								td Añade una opacidad de
									b 0.#{i}
								<td class="opacity-#{i}"> Este es un texto con opacidad de 0.#{i}</td>
	h4.subtitle Generando sombras
	p.bloque-text Level te proporciona un conjunto de clases para añadir sombras a tus contenedores en
		strong  4 direcciones
		span .
	row.bloque
		column
			responsive.is-table
				table.is-cell.is-narrow
					thead
						tr
							th Clase auxiliar shadow
							th Prefijo
							th direccion
							th Ejemplo de clase auxiliar
							th Descripción de clase
					tbody.is-small
						tr
							td: code .is-shadow-
							td: code.color-light xs-
							td: code.color-light null, l, r, t, b
							td: code.is-text-info .is-shadow-xs-b
							td Añade una sombra extra pqueña en la parte de abajo del contenedor
						tr
							td: code .is-shadow-
							td: code.color-light s-
							td: code.color-light null, l, r, t, b
							td: code.is-text-info .is-shadow-s-t
							td Añade una sombra pequeña en la parte de arriba del contenedor
						tr
							td: code .is-shadow-
							td: code.color-light --
							td: code.color-light null, l, r, t, b
							td: code.is-text-info .is-shadow-l
							td Añade una sombra normal en la parte izquierda del contenedor
						tr
							td: code .is-shadow-
							td: code.color-light m-
							td: code.color-light null, l, r, t, b
							td: code.is-text-info .is-shadow-m-r
							td Añade una sombra mediana en la parte derecha del contenedor
						tr
							td: code .is-shadow-
							td: code.color-light l-
							td: code.color-light null, l, r, t, b
							td: code.is-text-info .is-shadow-l
							td Añade una sombra grande all contenedor
	p.bloque-text Veamos un ejemplo para aclarar tus dudas:
	row.bloque.is-center.is-distributed-tablet
		column.tablet-4.padding-05.is-shadow-xs: code.is-text-info .is-shadow-xs
		column.tablet-4.padding-05.is-shadow-s: code.is-text-info .is-shadow-s
		column.tablet-4.padding-05.is-shadow: code.is-text-info .is-shadow
		column.tablet-4.padding-05.is-shadow-m: code.is-text-info .is-shadow-m
		column.tablet-4.padding-05.is-shadow-l: code.is-text-info .is-shadow-l
	row.bloque.is-center.is-distributed-tablet
		column.tablet-4.padding-05.is-shadow-xs-l: code.is-text-info .is-shadow-xs-l
		column.tablet-4.padding-05.is-shadow-s-l: code.is-text-info .is-shadow-s-l
		column.tablet-4.padding-05.is-shadow--l: code.is-text-info .is-shadow--l
		column.tablet-4.padding-05.is-shadow-m-l: code.is-text-info .is-shadow-m-l
		column.tablet-4.padding-05.is-shadow-l-l: code.is-text-info .is-shadow-l-l
	row.bloque.is-center.is-distributed-tablet
		column.tablet-4.padding-05.is-shadow-xs-r: code.is-text-info .is-shadow-xs-r
		column.tablet-4.padding-05.is-shadow-s-r: code.is-text-info .is-shadow-s-r
		column.tablet-4.padding-05.is-shadow--r: code.is-text-info .is-shadow--r
		column.tablet-4.padding-05.is-shadow-m-r: code.is-text-info .is-shadow-m-r
		column.tablet-4.padding-05.is-shadow-l-r: code.is-text-info .is-shadow-l-r
	row.bloque.is-center.is-distributed-tablet
		column.tablet-4.padding-05.is-shadow-xs-t: code.is-text-info .is-shadow-xs-t
		column.tablet-4.padding-05.is-shadow-s-t: code.is-text-info .is-shadow-s-t
		column.tablet-4.padding-05.is-shadow--t: code.is-text-info .is-shadow--t
		column.tablet-4.padding-05.is-shadow-m-t: code.is-text-info .is-shadow-m-t
		column.tablet-4.padding-05.is-shadow-l-t: code.is-text-info .is-shadow-l-t
	row.bloque.is-center.is-distributed-tablet
		column.tablet-4.padding-05.is-shadow-xs-b: code.is-text-info .is-shadow-xs-b
		column.tablet-4.padding-05.is-shadow-s-b: code.is-text-info .is-shadow-s-b
		column.tablet-4.padding-05.is-shadow--b: code.is-text-info .is-shadow--b
		column.tablet-4.padding-05.is-shadow-m-b: code.is-text-info .is-shadow-m-b
		column.tablet-4.padding-05.is-shadow-l-b: code.is-text-info .is-shadow-l-b
	h4.subtitle Contenido centrado
	p.bloque-text Añadiendo la clase
		code .is-wrapper
		span aun contenedor, se aplica un limite de
		strong  1000px 
		span de anchura y centrado horizontal que son aplicables despues de
		code 768px
		span .
	blockquote.is-info: p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo obcaecati exercitationem error aliquam ipsum ea deleniti illum culpa. Laborum est asperiores obcaecati ullam quod delectus nisi nulla quibusdam eos modi.
	snippet.margin-v-1
		pre
			tg &ltdiv 
			at class=
			vat "is-wrapper"
			tg &gt
			span •••
			tg &lt/div&gt
	h4.subtitle Centrado absoluto
	p.bloque-text Añadiendo a un contenedor la clase
		code .is-full-center
		span se aplican las propiedades de 
		strong flexbox 
		span necesarías para centrar tu contenido.
	snippet.margin-v-1
		pre
			tg &ltdiv 
			at class=
			vat "is-full-center"
			tg &gt
			span •••
			tg &lt/div&gt
	message.is-primary.is-small.margin-1
		header Nota:
		content La clase
			code .is-fluid-container
			span genera un contenedor a pantalla completa, pero no centra el contenido, util para crear secciones.
	row.bloque.is-separated
		button(data-link="layout-fonts").is-primary-invert
			icon
				i.fa.fa-arrow-left
			span   Fonts
		button(data-link="layout-modular").is-primary-invert
			span Modular  
			icon
				i.fa.fa-arrow-right